# mise watch test
[tasks.test]
# run = 'nvim --headless -c ":PlenaryBustedDirectory tests/" --noplugin -u tests/minimal_init.lua'
run = "vusted tests"
sources = ["**/*.lua"]
outputs = []
# [tasks.test]
# run = "ls -1 **/*.lua | entr -c vusted tests"

[tasks.generate-doc]
run = "nvim --headless --noplugin -u ./scripts/minimal_init.lua -c 'luafile ./scripts/generate_doc.lua' -c 'qa!'"
